body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    width: 50px;
    height: 50px;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

#theDisplay {
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    width: 194px;
    height: 50px;
    text-align: right;
}

.container {
    
}