body {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(var(--background-color));
    --transition-delay: 1s;

    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;
}

.title {
    margin: 0;
    margin-bottom: .5rem;
}

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);

    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: background-color var(--transition-delay);
}

.theme-toggle-button .icon {
    margin-right: 0.5em;
}

.sun-moon-container {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vmax;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.sun,
.moon {
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.sun {
    top: 5%;
}

.moon {
    bottom: 5%;
    opacity: 0;
}

.dark .sun {
    opacity: 0;
}

.dark .moon {
    opacity: 1;
    transform: rotate(180deg);
}