:root {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 95vw;
}

.btn {
    --background-color: #E3E3E3;
    --border-size: 5px;
    --accent-color: #0AF;

    background-color: var(--background-color);
    margin: 2rem;
    font-size: 20px;
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 1.5em
}


.btn-border-pop::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn-border-pop:hover:before,
.btn-border-pop:focus:before {
    border-color: var(--accent-color);
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}


.btn-bg-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--accent-color);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.btn-bg-slide:hover::before,
.btn-bg-slide:focus::before {
    transform: scaleX(1);
}

.btn-bg-slide {
    z-index: 1;
    transition: color 300ms ease-in-out;
}

.btn-bg-slide:hover,
.btn-bg-slide:focus {
    color: white;
}


.btn-bg-circle::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;

    transform: scale(1.5);
    transition: transform 300ms ease-in-out;
}

.btn-bg-circle:hover::before,
.btn-bg-circle:focus:before {
    transform: scale(0);
}

.btn-bg-circle {
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
    transition: color 300ms ease-in-out;
}

.btn-bg-circle:hover,
.btn-bg-circle:focus {
    color: white;
}


.btn-border-underline::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.btn-border-underline:hover::before,
.btn-border-underline:focus::before {
    transform: scaleY(1);
}